body
{
    background-color: #1d2d44;
    color: white;
    padding-top: 65px;
}

.ui-autocomplete {
    background: white;
}

.ui-menu-item
{
    color: black;
}

.ui-menu-item:hover {
    background: grey;
}

.ui-menu-item:focus {
    background: grey;
}

.tooltip-inner {
    max-width: 300px;
    /* If max-width does not work, try using width instead */
    width: 300px; 
}